@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Playfair+Display&display=swap');


content {
  max-width: 1600px;
  margin: 0 auto;
  }

#background {
  height: 725px;
  }

.logo {
  width: 80px;
  }
#logo_link {   
  padding-top: 5px;
  }

.icon {
  width: 80px;
  padding-top: 10px;
  }

#hero-img {
  width: 100%
  }


#hero-msg h1, #hero-msg h4 {
  text-align: center;
  color: #022E4F;
  }

.button-box {
  text-align: center;
  }

main section {
  text-align: center;
  }
main section img {
  box-sizing: border-box;
  }


body {
  background-color: #fcfbfb;
  font-family: 'Manrope', Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  }
header{
  background-color: #022E4F;
  }

nav a {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
  padding: 35px;
  }
nav a:hover {
  background-color: #022E4F;
  color: #61BDD1;
  }

.home-title {
  color: #fcfbfb;
  font-family: 'Playfair Display', Helvetica, sans-serif;
  font-size: 2em;
  margin-top: 10px;
  }

h4 {
  color: #fcfbfb
  }

h2 {
  margin: 0;
  }

.book, .join {
  background-color: #fcfbfb;
  color: #022E4F;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  }
.book:hover, .join:hover {
  background-color: #fcfbfb;
  color: #022E4F
  }

#background {
  background-color: #396E94;
  }

.msg {
  background-color: #396E94;
  line-height: 1.5em;
  padding: 35px;
  }
.msg h2{
  color: white;
  } 
 .msg p{
  color: white;
  font-size: .8em;
  padding-bottom: 15px;
  }


.rivers-card, .camping-card, .rapids-card, .mountains {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #022E4F;
  }

footer{
  background-color: #396E94;
  color: #fcfbfb;
  padding: 25px 50px;
  margin-top: 200px;
  }
footer a {
  color: #fcfbfb;
  }
footer a:hover {
  color: #022E4F;
  }
footer p {
    font-size: 1.2em;
  }
footer p a:hover {
    text-decoration: underline;
  }